# {{.greeting}} {{.who}}

This is a sample adoc file.

Output: {{index (data ".ods/artifacts/foo/out.json") "result"}}

{{$result := data ".ods/artifacts/bar/result.yaml" -}}
Result: {{$result.some.sample.value}}
